body {
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(227, 255, 209);
}

.container {
    margin-left: 40vw;
    width: fit-content;
}

.form-group {
    margin-left: 15%;
}
.btn {
    margin-left: 13%;
}

.message {
    font-size: 1em;
    font-weight: bold;
    width: fit-content;
    text-align: center;
}